/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.side-bar {
  animation-name: buttom-to-top;
  animation-duration: 1s;
}

@keyframes buttom-to-top {
  0% {
    top: 150px;
  }

  100% {
    top: 63px;
  }
}
